@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?r7pv93");
  src: url("../fonts/icomoon.eot?r7pv93#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?r7pv93") format("truetype"),
    url("../fonts/icomoon.woff?r7pv93") format("woff"),
    url("../fonts/icomoon.svg?r7pv93#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-caret-fill-down:before {
  content: "\e901";
}

.icon-caret-left:before {
  content: "\e902";
}

.icon-caret-right:before {
  content: "\e903";
}

.icon-close:before {
  content: "\e904";
}

.icon-ellipsis-h:before {
  content: "\e905";
}

.icon-facebook:before {
  content: "\e906";
}

.icon-filter:before {
  content: "\e907";
}

.icon-hamburger:before {
  content: "\e908";
}

.icon-hide:before {
  content: "\e909";
}

.icon-info:before {
  content: "\e90a";
}

.icon-instagram:before {
  content: "\e90b";
}

.icon-linkedin:before {
  content: "\e90c";
}

.icon-location:before {
  content: "\e90d";
}

.icon-minus:before {
  content: "\e90e";
}

.icon-plus:before {
  content: "\e90f";
}

.icon-question-circle:before {
  content: "\e910";
}

.icon-search:before {
  content: "\e911";
}

.icon-show:before {
  content: "\e912";
}

.icon-spinner:before {
  content: "\e913";
}

.icon-trash:before {
  content: "\e914";
}

.icon-twitter:before {
  content: "\e915";
}

.icon-web:before {
  content: "\e916";
}
